<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('pagamento.static', filename='efetuarPagamento.css') }}">
        <script src="{{ url_for('pagamento.static', filename='efetuarPagamento.js') }}" defer></script>
    </head>
    <body>
        <div class="tudo">
            <h1>Pagamentos Alunos</h1>
            <!-- tabela do alunos -->
            <select name="escolher" id="escolher">
                <option value="pedente">Pedente</option>
                <option value="pago">Pago</option>
            </select>
            <table>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Vencimento</th>
                        <th>Preço</th>
                        <th>Status</th>
                        <th>Atualizar</th>
                    </tr>
                </thead>
                {% if dadosStatus %}
                {% for dados in dadosStatus %}
                {% if dadosAlunos %}
                {% for dadosAlunos in dadosAlunos %}
                <tbody>
                    <tr>
                        <td>{{ dadosAlunos.nome }}</td>
                        <td>{{ dados.vencimento }}</td>
                        <td>{{ dados.preco }}</td>
                        <td>{{ dados.status }}</td>
                        <td class="botoes">
                            <button id="buttonAbrirJanela" name="buttonAbrirJanela" type="button">Atualizar</button>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
                {% endif %}
                {% endfor %}
                {% endif %}
            </table>
        </div>
        <!-- janela modal -->
        <div class="janelaModalAtualizar" name="janelaModalAtualizar" id="janelaModalAtualizar">
            <span class="fechar-modalFoto" style="cursor: pointer;">&times;</span>
                <div class="dadosUsuario">
                {% if dadosStatus %}
                {% for dados in dadosStatus %}
                {% if dadosAlunos %}
                {% for dadosAlunos in dadosAlunos %}
                <form action="/efetuarPagamento" method="POST">
                    <input type="hidden" name="idPagamento" value="{{ idpagamento }}">
                    <h2>ID: {{ dadosAlunos.id }}</h2>
                    <h2>Nome: {{ dadosAlunos.nome }}</h2>
                    <h2>Email: {{ dadosAlunos.email }}</h2>
                </div>
                <div class="dadosPagamento">
                    <h2>ID: {{ dados.id }}</h2>
                    <h2>Vencimento: {{ dados.vencimento }}</h2>
                    <h2>Valor: {{ dados.valor }}</h2>
                </div>
                <div>
                    <select name="formaDePagamento" id="formaDePagamento">
                        <option value="dinherio">Dinheiro</option>
                        <option value="pix">Pix</option>
                        <option value="cartao">Cartão</option>
                    </select>
                </div>
                <button>Atualizar</button>
                {% endfor %}
                {% endif %}
                {% endfor %}
                {% endif %}
                </form>
        </div>
    </body>
</html>