<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('home.static', filename='home.css') }}">
    </head>
    <body>
        {% include 'cabecario/cabecario.html' %}
        <div class="miniDashboard">
            <div class="informacoesResumo">
                <div class="informoes">
                    <h1>Total de alunos</h1>
                    <h1>500</h1>
                </div>
                <div class="informoes">
                    <h1>Total Pedentes</h1>
                    <h1>300</h1>
                </div>
                <div class="informoes">
                    <h1>Aluno este Mes</h1>
                    <h1>20</h1>
                </div>
            </div>
            <div class="ButtonAdicional">
                <button>Grafico Mes</button>
                <button>Pedentes</button>
            </div>
        </div>
        <div class="rodaPe">
            <div class="buttons">
                <h1>Ferramentas</h1>
                <button>Tabela Usurios</button>
                <button>Tabela Adm</button>
                <button>Boletos</button>
                <button>Pagamentos</button>
            </div>
            <div class="graficoCrescente">
                <img src="" alt="">
            </div>
        </div>
    </body>
</html>