<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('login.static', filename='login.css') }}">
        <title>Página de Login</title>
    </head>
    <body>  
        <div class="login-container">
            <h2>Login</h2>
            <form action="{{ url_for('login.loginEntrar') }}" method="POST">
                <label for="username">Usuário</label>
                <input type="email" class="input-field" id="email" name="email">
 
                <label for="password">Senha</label>
                <input type="password" class="input-field" id="password" name="password">

                <button type="submit">Entrar</button>
            </form>
            <div class="forgot-password">
                <a href="#">Esqueceu sua senha?</a>
            </div>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
    </body>
</html>
