body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #eef2f3;
    margin: 0;
    padding: 20px;
}

.tudo {
    max-width: 900px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #444;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #b3c7e6;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

tr:hover {
    background-color: #f7f7f7;
}

button {
    background-color: #5A5A5A;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #7D7D7D;
    transform: translateY(-2px);
}

button:active {
    transform: translateY(0);
}



.janelaModalAtualizar {
    display: none;
    max-width: 600px;
    min-width: 400px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    z-index: 2;
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    gap: 20px;
    z-index: 9999;
}

.janelaModalAtualizar.active {
    display: flex;
}

.dadosUsuario, .dadosPagamento {
    display: flex;
    flex-direction: column;
}

h2 {
    margin: 0 0 10px;
    color: #444;
}

select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

button {
    background-color: #5A5A5A;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    align-self: center;
}

button:hover {
    background-color: #7D7D7D;
    transform: translateY(-2px);
}

button:active {
    transform: translateY(0);
}

.interatividades{
    background-color: yellowgreen;
}